@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us ";
}
<h1>@ViewData["Title"]</h1>

<h2>Home Legancy</h2>

<p>The company has not lost sight of its beginings or th reason for its sucess. Home elegance's continues to sell high
    quality brand name furniture at guarnteed lowest price. Home elegance's take great pride in its after sale service , 
    and relies on the professionalim and support of thousand associates in Home elegance greatest success. We want to 
    make the furniture a buying process delightfully easy , and to make our everyday work more fun and to make our day 
    work  more fun and interesting . Thanks to you fro visiting our website today , and we look forward to serving you . </p>
